#Database Secret
.env

#Java Compiled Fiiles
*.class

# Abaikan file database H2 lokal
*.mv.db
*.trace.db

# Abaikan folder build Maven (isinya file .class dan .jar hasil compile)
/target/
*.jar

# Abaikan settingan IDE (VS Code / IntelliJ)
.target/
.vscode/
.idea/
*.iml
.settings/
.classpath
.project/
